{% extends 'base.html' %}
{% load static %}
{% block title %} Main {% endblock %}
{% block content %}
<div class="d-flex gap-{% if meta.tag == None %}4{% else %}2{% endif %}">
    {% if meta.tag != None %}
        <h3>Tag:</h3>
        <h3>{{meta.tag}}</h3>
    {% else %}
        <h3>{% if meta.is_hot %}Hot{% else %}New{% endif %} Questions</h3>
        {% if meta.is_hot %}
            <a href="{% url 'index' %}" class="mt-2">New Questions</a>
        {% else %}
            <a href="{% url 'hot' %}" class="mt-2">Hot Questions</a>
        {% endif %}
    {% endif %}
</div>
<div class="mt-2 d-flex flex-column gap-3">
    {% for question in page.object_list %}
        {% include 'components/card-questions.html' %}
    {% endfor %}
    
    {% include 'components/paginator.html' %}
</div>
{% endblock %}