{% extends 'base.html' %}
<!-- {% load static %} -->
{% block title %} Main {% endblock %}
{% block content %}
<div class="d-flex flex-column gap-5 w-75">
    {% include 'components/card-question.html' %}
    <div id="answers">
        {% for answer in question.answers %}
            {% include 'components/card-answer.html' %}
        {% endfor %}
    </div>
    <hr>
    {% include 'components/form-answer.html' %}    
</div>

<script>

    $(document).ready(function() {
        const centrifuge = new Centrifuge("ws://127.0.0.1:8002/connection/websocket", {
            token: "fdc5440e-a76d-4227-aa47-79489040c232"
        });

        centrifuge.on('connecting', function (ctx) {
            console.log(`connecting: ${ctx.code}, ${ctx.reason}`);
        }).on('connected', function (ctx) {
            console.log(`connected over ${ctx.transport}`);
        }).on('disconnected', function (ctx) {
            console.log(`disconnected: ${ctx.code}, ${ctx.reason}`);
        }).connect();

        const sub = centrifuge.newSubscription("question-{{ question.id }}");

        sub.on('publication', function (ctx) {
            container.innerHTML = ctx.data.value;
            document.title = ctx.data.value;
        }).on('subscribing', function (ctx) {
            console.log(`subscribing: ${ctx.code}, ${ctx.reason}`);
        }).on('subscribed', function (ctx) {
            console.log('subscribed', ctx);
        }).on('unsubscribed', function (ctx) {
            console.log(`unsubscribed: ${ctx.code}, ${ctx.reason}`);
        }).subscribe();
    })

    function addAnswer(name, imageUrl, text, date, likes) {
        let newAnswer = $('.answer:last').clone().appendTo('#answers');
        newAnswer.find('#answer-avatar').attr('src', imageUrl);
        newAnswer.find('#answer-text').text(text);
        newAnswer.find('#answer-name-date').text(name + ', ' + date);
        newAnswer.find('#answer-likes').text(likes);
        newAnswer.find('.vote-active').removeClass('vote-active');
    }
</script>
{% endblock %}