.img-avatar {
    width: 3em;
    height: 3em;
    border-radius: 20%;
}

.question-content {
    border: solid #40aac7 1px;
    border-radius: 3%;
    width: 45em;
}

.question-title {
    height: 2.2em;
}

.form-btn {
    width: 15em;
}

.edit-avatar-img {
    width: 10em;
    height: 10em;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    justify-content: center;
}