html, body {
    width: 100%;
    height: 100%;
}

.img-avatar {
    width: 3em;
    height: 3em;
    border-radius: 20%;
}

.question-content {
    border: solid #40aac7 1px;
    border-radius: 3%;
    width: 45em;
}

.question-title {
    height: 2.2em;
}

.form-btn {
    width: 15em;
}

.edit-avatar-img {
    width: 10em;
    height: 10em;
}

.img-logo {
    width: 4em;
    height: 3em;
}

.rating {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.vote {
    transition: all 0.2s;
    opacity: 1;
}

.vote:hover {
    cursor: pointer;
    opacity: 0.8;
}