{% load static %}

<!-- Question card component -->
<div class="d-flex question-content p-2 gap-3">
    <div class="d-flex flex-column">
        <img class="img-avatar ms-1" src="{% static 'img/' %}{{ question.author.avatar }}" alt="Avatar">
        <div class="d-flex gap-0 mt-2">
            <i class="bi-arrow-up vote mt-1"></i>
            <span class="rating {% if question.likes_count >= 0 %}text-success{% else %}text-danger{% endif %}">{{question.likes_count}}</span>
            <!-- <i class="bi-arrow-down vote mt-1"></i> -->
        </div>
    </div>
    <div class="d-flex flex-column">
        <a class="link-dark" href="{% url 'question' questionId=question.id %}">
            <h4 class="question-title">{{question.title}}</h4>
        </a>
        <span>{{question.text}}</span>
        <div class="d-flex mt-2 gap-3">
            <a href="{% url 'question' questionId=question.id %}">answer ({{question.answers_count}})</a>
            <div class="d-flex gap-2">
                <span>Tags:</span>
                {% for tag in question.tags.all %}
                <a href="{% url 'tag' tag=tag.name %}">{{tag.name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Question card component end -->